<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <%= erb :head %>
    <body>
        <ul>
            <% links.each do |(link, is_read)| %>
                <li>
                    <a href="<%= link %>">
                        <%= link %>
                    </a>
                    <a hx-post="/toggleread?url=<%= link %>" hx-swap="innerHTML">
                        <%= if is_read.zero? then "mark as read" else "unmark as read" end %>
                    </a>
                    <!-- <a hx-delete="/delete?url=<%= link %>">
                         Delete this link
                         </a> -->
                </li>
            <% end %>
        </ul>
    </body>
</html>
